@import "variables";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap-sprockets";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../../../node_modules/bootswatch/journal/_bootswatch";
@import "../../../node_modules/bootstrap-markdown/css/bootstrap-markdown.min";
@import "./pygments-manni";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.job-title {
  color: #269abc;
  text-decoration: underline;
}

.job-company {
  color: #000;
  font-weight: bold;
}

.job-highlight {
  background-color: #ffc;
}

.job-rss {
  background-color: #ff6600 !important;
}

.label {
  font-size: 66%;
  margin: 2px;
}

.navbar-brand {
  padding: 8px;
  img {
    height: 100%;
  }
}
